.feedback {
  background: url("../img/botFon.jpg") center no-repeat #000;
  background-size: cover;
  position: relative; }

.feedback__row {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 65px 20px 33px 20px;
  z-index: 1; }

.feedback__content {
  z-index: 1; }

.feedback__text {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  line-height: 1.3;
  color: #fff; }
  .feedback__text--first {
    margin-top: 63px; }
  .feedback__text--mtop {
    margin-top: 27px; }
  .feedback__text--mb {
    margin-bottom: 115px; }

.feedback__social {
  text-align: center; }

.feedback__link {
  color: #E7A331;
  margin-right: 10px;
  font-size: 25px; }

.feedback__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 372px;
  z-index: 1; }

.feedback__input {
  height: 45px; }
  .feedback__input--style {
    background-color: #323232;
    margin-bottom: 9px;
    border-radius: 2px;
    padding-left: 20px;
    width: 100%;
    color: #fff;
    font-size: 18px; }

.feedback__message {
  height: 110px;
  padding-top: 10px;
  resize: none; }

.feedback__input--btn {
  cursor: pointer; }

.feedback__img-udon {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 0;
  max-height: 267px; }

.feedback__img-paste {
  position: absolute;
  right: 0;
  top: 20%;
  z-index: 0;
  max-height: 267px; }
