.mobile {
  background: url("../img/iphoneFon.jpg") center no-repeat #000;
  background-size: cover;
  position: relative;
  z-index: 0; }
  .mobile::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1; }

.mobile__row {
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 46px 20px 104px 20px; }

.mobile__img {
  width: 100%; }

.mobile__title {
  margin-bottom: 20px; }

.mobile__subtitle {
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 18px; }

.mobile__text {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 52px;
  letter-spacing: 0.1em; }

.mobile__app-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.mobile__app-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%; }
